export DATABASE_NAME=casting_agency
export DATABASE_URL=postgres://postgres@localhost:5432/casting_agency?gssencmode=disable
export APP_SECRET_KEY=some-secret-key
export AUTH0_API_AUDIENCE=casting-agency-api
export AUTH0_CLIENT_ID=IrrwsvDC9WQZ404zksQ0ALJsbKGZwX4m
export AUTH0_CLIENT_SECRET=RKGin-TP7Ys4qGdg-8zO9DYT1UQi-XiZ9drQhiCSzKCza_eOC4SWwb1S2NW57taJ
export AUTH0_DOMAIN=ashishp-dev.us.auth0.com
export AUTH0_CALLBACK_URL=http://localhost:5000/api/auth/callback
export TEST_DATABASE_URL=postgres://postgres@localhost:5432/test_casting_agency?gssencmode=disable
export TEST_ASSISTANT_TOKEN=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IkhadkctNmducWtiRE1jTnE3UUZycCJ9.eyJpc3MiOiJodHRwczovL2FzaGlzaHAtZGV2LnVzLmF1dGgwLmNvbS8iLCJzdWIiOiJhdXRoMHw1ZjMwZTA4NmQ1MzA3YTAwM2QyOTI4YWQiLCJhdWQiOlsiY2FzdGluZy1hZ2VuY3ktYXBpIiwiaHR0cHM6Ly9hc2hpc2hwLWRldi51cy5hdXRoMC5jb20vdXNlcmluZm8iXSwiaWF0IjoxNTk3NTY2MzEyLCJleHAiOjE1OTc2NTI3MTIsImF6cCI6IklycndzdkRDOVdRWjQwNHprc1EwQUxKc2JLR1p3WDRtIiwic2NvcGUiOiJvcGVuaWQgcHJvZmlsZSBlbWFpbCIsInBlcm1pc3Npb25zIjpbInJlYWQ6YWN0b3JzIiwicmVhZDptb3ZpZXMiXX0.nqOWyOpkDF6vssxsOAsy0BBS0QOBxtWsR_SJWYEARZQwzu_Zbb4CrSFTHlvNB7RTt7RStlMzU8LoUhnRi_xBH8nG09qZXL_TaZsRWKqz6Cjw6wCem66OFPj0baiSMYTuh6IiQ5j8CawNNyHpjc409ISI492tXfSA0X_nbhNaPokCVUXkGBx4SMOQNLjWBAGAoJO-JECKagBfs2_xJnZZoA9CwraxxeAazygTNwnfvbs10ookgSppu7zkcDXgEukwZCH_LPH2fzuoDUB5Y2J8mcqWKYfWR5nXP0IS5UHqRnYz1Qsdl3a5vezrapEFCtHixzL_aPEVhxeVnRik0dexUA
export TEST_DIRECTOR_TOKEN=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IkhadkctNmducWtiRE1jTnE3UUZycCJ9.eyJpc3MiOiJodHRwczovL2FzaGlzaHAtZGV2LnVzLmF1dGgwLmNvbS8iLCJzdWIiOiJhdXRoMHw1ZjMwZTBiYzNhY2QwZTAwM2ExOWU5ZWEiLCJhdWQiOlsiY2FzdGluZy1hZ2VuY3ktYXBpIiwiaHR0cHM6Ly9hc2hpc2hwLWRldi51cy5hdXRoMC5jb20vdXNlcmluZm8iXSwiaWF0IjoxNTk3NTY2Mjg1LCJleHAiOjE1OTc2NTI2ODUsImF6cCI6IklycndzdkRDOVdRWjQwNHprc1EwQUxKc2JLR1p3WDRtIiwic2NvcGUiOiJvcGVuaWQgcHJvZmlsZSBlbWFpbCIsInBlcm1pc3Npb25zIjpbImNyZWF0ZTphY3RvcnMiLCJkZWxldGU6YWN0b3JzIiwicmVhZDphY3RvcnMiLCJyZWFkOm1vdmllcyIsInVwZGF0ZTphY3RvcnMiLCJ1cGRhdGU6bW92aWVzIl19.NiP6ns1Ykb8GK2pjFrhK8PJxAiozXVNsWL1ECslG7sH0Li1H7M94DH5-lwkKws3LmdFfBF2skNxfYn2-kBAMTuOLGMZhvVN_6rPkSeCGORRNmCEr-i6tR9eOEXi6uCcYP1xRaa6KueAeO2CZmt2hnP1b6x378paNR6Zm4c1YwLxwV3ugE4W85iw-2Jtt3c30xWzvJ_iBUPqYJOpro2B_SVw7XwID-mK6IMNiPVHZFawk6ZYf7x4ktEsUS65Ani5crYGRUZ-V99Z4uGe09g-7zGDnWjJxLl192J3w2ZCX5rzCh77ZgvPIK1kkq3WrXWtXBS_2481_Av_9Rby1pmZ0tA
export TEST_PRODUCTER_TOKEN=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IkhadkctNmducWtiRE1jTnE3UUZycCJ9.eyJpc3MiOiJodHRwczovL2FzaGlzaHAtZGV2LnVzLmF1dGgwLmNvbS8iLCJzdWIiOiJhdXRoMHw1ZjMwZTBlOWQyZjFjZDAwMzdlZmNhNWEiLCJhdWQiOlsiY2FzdGluZy1hZ2VuY3ktYXBpIiwiaHR0cHM6Ly9hc2hpc2hwLWRldi51cy5hdXRoMC5jb20vdXNlcmluZm8iXSwiaWF0IjoxNTk3NTY2MjE5LCJleHAiOjE1OTc2NTI2MTksImF6cCI6IklycndzdkRDOVdRWjQwNHprc1EwQUxKc2JLR1p3WDRtIiwic2NvcGUiOiJvcGVuaWQgcHJvZmlsZSBlbWFpbCIsInBlcm1pc3Npb25zIjpbImNyZWF0ZTphY3RvcnMiLCJjcmVhdGU6bW92aWVzIiwiZGVsZXRlOmFjdG9ycyIsImRlbGV0ZTptb3ZpZXMiLCJyZWFkOmFjdG9ycyIsInJlYWQ6bW92aWVzIiwidXBkYXRlOmFjdG9ycyIsInVwZGF0ZTptb3ZpZXMiXX0.JaWGjAwmYhAswRqOSKNUI_RzKL2btPGckSz-Qh81DSuRf9q2ALZHXQq8_6Xkhyftf5YPjtNSW8FCAR0awtn708Ku2OWMBQQQiFR7DX8a-y_bv0yYwcfQFUAZR8EPdlwJeksulZwOc8Q9kmFE3FlIwZDkkxm5mzQf2uBMnom4DsQwFbEow_Fu47shyJcKReTbt3Fpb0Di1okjJkTB2haMdwSUIZscV8qzKE3wu30UvKBBEMvSfrdms9T8uN2PSTMihyd9zl0-S8zm91NJoVs1EpwC2_ZoVapSlq39QqmkBjlLs8vyg6a9L2FFpVgbZJg8blsPrpX8f0DGLz01Ul7WuA
